@import './mixin.scss';
@import './variables.scss';


body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-image: url(../img/main-bg.png) !important;
    background-size: 100% auto;
    background-repeat: repeat-y;
    color: var(--bs-white);
}

html {
    height: 100%;
}
.container{
    @media(max-width:767px){
        padding-left: 20px;
        padding-right: 20px;
    }
}
.maxh-114 {
    max-height: 114px;
    overflow: hidden;
}
.navbar-toggler[aria-expanded="false"] .cross{
    display: none;
}
.navbar-toggler[aria-expanded="true"] .list{
    display: none;
}
.navbar {
    .navbar-toggler{
        padding: 3px;
        &:focus{
            box-shadow: none;
        }
        background: transparent !important;
        border: 1px solid $secondary;
        border-radius: 1px;
    }
    .navbar-nav{
        @media (max-width:991px) {
            align-items: flex-start !important;
            margin-top: 40px !important;
            margin-bottom: 0 !important;
            .nav-item{
                display: block;
                width: 100%;
                border-bottom: 1px solid #313131 !important;
                padding-bottom: 16px;
                a{
                    margin: 0 !important;
                }
                &.last-child{
                    border-bottom: none !important;
                    padding-bottom: 0 !important;
                }
            }
        }
        .nav-item {
            .nav-link {
                color: var(--bs-white);
                position: relative;
                padding: 0;
                margin: 0 20px;
    
                @media(min-width:993px) {
                    &:after {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 1px;
                        background-color: var(--bs-white);
                        margin: auto;
                        inset: auto 0 -7px 0;
                        transition: all .3s;
                    }
    
                    &.active,
                    &:hover {
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
    
            button {
                &.minw-107 {
                    @media(max-width:991px) {
                        min-width: 200px;
                    }
                }
            }
        }
    }
    &.dark-header{
        background-image: url(../img/login-strip.png);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    @media (max-width:767px) {
        background-image: url(../img/login-strip.png); 
        .button_navigation{
            li{
                padding: 0 !important;
            }
        }
    }
}


.h-88vh {
    min-height: 88dvh;
    @media (max-width:767px) {
        min-height: 44dvh;
    }
}

/***********Font Sizes************/

.ff-type1 {
    font-family: 'Montserrat', sans-serif;
}

.ff-type2 {
    font-family: "Abhaya Libre", serif;
}

.fs-120 {
    font-size: 7.5rem;
}

.fs-60 {
    font-size: 3.75rem;
}
.fs-30 {
    font-size: 1.875rem;
}
.fs-24{
    font-size: 1.5rem;
}
.fs-16 {
    font-size: var(--bs-body-font-size);
}

.fs-18 {
    font-size: 1.15rem;
}

.fs-26 {
    font-size: 1.62rem;
}

/***********Font Sizes************/

/***********Font Color************/
.text-gray-75 {
    color: $dark-gray;
}

.text-gray-50 {
    color: $platinum-gray;
}

.text-primary {
    color: $primary !important;
}

/***********Font Color************/

hr {
    border-color: $night-gray;
    opacity: 1;
}

svg {
	font-family: "Abhaya Libre", serif;
	width: 522px; 
    height: 100%;
    @media(max-width:1024px){
        width: 350px; 
    }
}
svg {
    text {
	
        animation: stroke 5s infinite alternate;
        stroke-width: 2;
        stroke: $default-text;
        font-size: 120px;
        @media(max-width:1024px){
            font-size: 80px; 
        }
        @media(max-width:767px){
            font-size: 50px; 
        }
    }
}

.name-svg{
    width: 620px;
    @media(max-width:1024px){
        width: 420px; 
    }
}




@keyframes stroke {
    0% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgb(255, 255, 255);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgb(255, 255, 255);
    }

    80% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgb(255, 255, 255);
        stroke-width: 3;
    }

    100% {
        fill: rgb(255, 255, 255);
        stroke: rgba(54, 95, 160, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

.section-heading {
    @media(max-width:993px) {
        &.fs-120 {
            font-size: 3rem;
        }
    }

}

@media(max-width:993px) {
    .fs-60 {
        font-size: 1.5rem;
    }
}

.news-box {
    position: relative;
    isolation: isolate;

    figure {
        inset: 0;
        z-index: -1;
        overflow: hidden;
        height: 491px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    figcaption {
        padding: 1rem;
        font-size: 20px;
        font-weight: 700;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;  
        overflow: hidden;

        img {
            height: 40px;
        }
    }
}

.flip-card {
    background-color: transparent;
    perspective: 1000px;
    height: 490px;

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    &:hover {
        .flip-card-inner {
            transform: rotateY(180deg);
        }
    }

    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        /* Safari */
        backface-visibility: hidden;
    }

    .flip-card-front {}

    .flip-card-back {
        background-color: #fff;
        transform: rotateY(180deg);
    }
}

.flip-card-back{
    .content-wrap{
        p{
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}
.fs-70 {
    font-size: 3.75rem;
}

.minw-248 {
    min-width: 248px;
}

.minw-107 {
    min-width: 107px;
}

.text-secondary {
    color: $secondary !important;
}

.text-platinumGray {
    color: $platinum-gray !important;
}

.auth-wrapper {
    background-color: rgba(black, $alpha: 0.50);
}

.border-bottom-gray{
    border-bottom: 1px solid $night-gray;
}

.form-floating {
    .form-control {
        background-color: rgba(black, $alpha: 0.5);
        border: 1px solid $night-gray;
        font-size: 16px;
        font-weight: 400;
        color: $default-text;
        padding: 10px 20px;

        &+label {
            color: $platinum-gray !important;
            background: transparent;
            left: 7px;

            &:after {
                display: none;
            }
        }

        &:not(:placeholder-shown)~label {
            opacity: 1;
        }

        &:focus {
            box-shadow: inherit;
            border-color: $platinum-gray;
        }

        &[type=time] {
            background-image: url(../img/clock.svg);
            background-position: calc(100% - 20px);
            background-repeat: no-repeat;
            background-size: auto;
        }

        &[type=date] {
            background-image: url(../img/calendar.svg);
            background-position: calc(100% - 20px);
            background-repeat: no-repeat;
            background-size: auto;
        }
    }

    .icon {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(0, -50%);
    }
}
.profile-form{
    .form-floating {
        .form-control {
            &[type=time] {
                background-image: url(./../img/clock.svg);
            }
    
            &[type=date] {
                background-image: url(./../img/calendar.svg);
            }
        }
    }
}
.otp-control {
    background-color: rgba(black, $alpha: 0.5);
    border: 1px solid $night-gray;
    font-size: 16px;
    font-weight: 400;
    color: $default-text;
    width: 55px;
    height: 55px;
    text-align: center;
}

.btn {
    border-radius: 110px;
    border: 1px solid transparent;
    padding: 16px;
    transition: all ease-in-out 0.3s;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    &:hover {
        filter: brightness(85%);
    }

    &.btn-primary {
        background-color: $primary;
        border-color: $primary;
        color: var(--bs-white);

        &:active,
        &:hover {
            background-color: $primary;
            border-color: $primary;
        }
    }

    &.btn-secondary {
        background-color: transparent;
        border-color: $secondary;
        color: $primary;

        &:active,
        &:hover {
            background-color: transparent;
            border-color: $primary;
        }

    }

    &.btn-sm {
        padding: 11px 22px;
        font-size: 16px;
        line-height: 16px;
        border-radius: 40px;
    }
}

.feedback-box {
    border: 1px solid $night-gray;
}

.carousel-indicators {
    button {
        width: 20px !important;
        height: 20px !important;
        border-radius: 50%;
        background-color: #F76746 !important;
    }
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
.service-card {
    background-color: rgba(black, $alpha: 0.5);
    padding: 2rem 3rem;
    // height: 500px;
    

    @media (max-width:1200px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @media(max-width:991px) {
        height: auto;
    }

    ul {
        // max-height: 260px;
      
        li {
            list-style-image: url("../img/check-icon.png");
            margin-bottom: 1rem;
        }
    }
}

.content-body {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .main-content {
        flex: 1 0 auto;
        height: auto;
    }

    .footer {
        flex-shrink: 0;
    }
}

.blog-card {
    .blog-decs {
        background-color: rgba(black, $alpha: 0.5);
    }
}

.chatbot {
    img {
        position: fixed;
        top: auto;
        bottom: 40px;
        left: auto;
        right: 40px;
        z-index: 9;

        @media (max-width:767px) {
            width: 50px !important;
        }
    }
}

.maxh-114 {
    max-height: 114px;
    overflow: hidden;
}

.accordion {
    .accordion-item {
        border-radius: 0 !important;
        background-color: rgba(black, $alpha: 0.5) !important;
        border: none !important;
        

        .accordion-header {
            

            .accordion-button {
                padding-bottom: 16px;
                border-radius: 0 !important;
                background: transparent !important;
                color: $default-text !important;
                span{
                    word-break: break-all;
                    margin-right: 30px;
                    line-height: 24px;
                }

                &:after {
                    background-image: url(../img/angledown.svg);
                    position: absolute;
                    top: calc(50% - 5px);
                    right: 20px;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        .accordion-collapse {
            // padding-bottom: 16px !important;

            .accordion-body {
                color: $platinum-gray !important;
                // padding: 16px 0 0 0 !important;
                border-top: 1px solid $night-gray;
                font-size: 16px;
            }
        }
    }
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/angledown.svg);
    top: calc(50% - 15px) !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.scale-card{
    position: relative;
   overflow: hidden;
   margin-bottom: 1.5rem;
   .news-image{
    width: 100%;
    height: 100%;
    object-fit: cover;;
    transform: scale(1);
    transition: all .5s ease;
   }
   &:hover{
    .news-image{
        transform: scale(1.2);
    }
   }
   .prediction-text{
    position: absolute;
    inset: auto 0 0 0;
    width: 100%;
   }
}

.clamp-3{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
@media (max-width: 991px) {
    .navbar .nav-item button.minw-107 {
        min-width: 200px;
    }
}
}

.profile-section, .history-section {
    background-color: rgba(black, $alpha: 0.50);
}
.history-section{
    img.setting-icon {
        position: absolute;
        right: 10px;
        cursor: pointer;
    }
}
.copyright{
    position: relative;
    overflow: hidden;
    background: url(../img/login-strip.png);
}

.media-wrap {
    width: 100%;
    .media-box{
        .image-shadow{
            position: absolute;
            left: 0;
            top: auto;
            bottom: 0;
            width: 100%;
        }
        .news-channel{
            position: absolute;
            left: 20px;
            top: auto;
            bottom: 20px;
        }

    }
}

.yt-wrapper{
    .content-wrapepr{
        position: absolute;
        top: 0;
        padding: 25px;
        max-width: 300px;
    }
    .yt-icon{
        position: absolute;
        top: calc(50% - 24px);
        left: calc(50% - 34px);
    }
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/yt-thumb-bg.png);
    }
    &::after{
        content: "";
        position: absolute;
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
        width: 258px;
        height: 258px;
        background-image: url(../img/kapur.png);
        background-repeat: no-repeat;
        @media (max-width:991px) {
            width: 190px;
            height: 190px;
        }
    }
}

.dropdown{
    .dropdown-toggle{
        &::after{
            display: none;
        }
        cursor: pointer;
    }
    .dropdown-menu{
        margin-top: 20px;
        background-color: #000;
        left: auto;
        right: 0;
        .dropdown-item{
            background-color: transparent;
            color: #fff;
            svg{
                width: 16px;
                path{
                    fill: #fff;
                }
            }
            &:hover{
                color: #FF3F3F;
                svg{
                    path{
                        fill: #FF3F3F;
                    }
                }
            }
        }
        &::before{
            content: '';
            position: absolute;
            width: 16px;
            height: 13px;
            background-image: url("/assets/img/trangle.png");
            top: -8px;
            left: 80%;
        }
    }
}

.breadcrumb{
    li{
        color: $platinum-gray;
        &::before{
            color: $primary !important;
            padding: 0 15px 0 6px !important;
        }
    }
}

.bg-dark-50{
    background-color: rgba(black, $alpha: 0.50);
}
.sponsor-card{
    min-height: 200px;
    line-height: 94px;
    img{
        max-width: 100%;
    }
}

.nav-tabs{
    border-color: #313131;
    .nav-link{
        background-color: rgba(black, $alpha: 0.50);
        color: var(--bs-white);
        padding: 10px 30px;
        font-size: 20px;
        margin-right: 5px;
        border: 0;
        &.active, &:hover{
            background-color: $primary;
            color: var(--bs-white);
        }
        @media(max-width:767px){
            width: 100%;
            margin-right: 0px;
            margin-bottom: 5px;
        }
    }
}
.form-check{
    padding-left: 2.5rem;
    label{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../img/uncheck.png');
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            left: -40px;
            background-size: contain;
            top: -4px;
        }
    }
    input{
        display: none;
        &:checked{
            & + label{
                &::before{
                    background-image: url('../img/checked.png'); 
                }  
            }
        }
    }
    @media(max-width:767px){
        margin-bottom: 1rem;
    }
}


.pay-img-fix{
    img{
        height: 30px;
    }
}

.w-250{
    width: 250px;
    @media(max-width:767px){
        width: 100%;
    }
}

.progress{
    height: 8px;
    background-color: rgba(black, $alpha: 0.50);
    .progress-bar{
        background-color: $primary;
        border-radius: 8px;
    }
}

.pay-powred{
    span{
        display: inline-block;
        height: 40px;
        width: 1px;
        background-color: $platinum-gray;
    }
    @media(max-width:767px){
        flex-direction: column;
        span{
            display: none;
        }
    }
}
.pagination-section{
    .pagination{
        .page-item{
            a{
                &.page-link{
                    background-color: transparent;
                    border: 0;
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    
                    &:hover, &:focus, &:focus-visible{
                        background: transparent;
                        box-shadow: none;
                        outline: none;
                        color: #F76746 !important;
                        svg{
                            path{
                                stroke: #F76746;
                            }
                        }
                    }
                }
                svg{
                    width: 32px;
                }
                @media (max-width:767px) {
                    font-size: 16px;
                    svg{
                        width: 20px;
                    }
                }
            }
            &.disabled{
                opacity: 0.2;
            }
            &.active{
                a{
                    color: #F76746 !important;
                }
            }
        }
    }
}
.button_navigation{
    list-style: none;
    .profile-drop{
        @media(max-width:991px){
            display: none;
        }
    }
}
.navbar-logo{
    .profile-dropdown{
        display: none;
        @media(max-width:991px){
            display: block;
        }
    }
}
.logged-in {
    .login-btn{
        display: none;
    }
    .logout-btn{
        display: none;
        @media (max-width:991px) {
            display: block;
        }
    }
}
.logged-out {
    .login-btn{
        display: block;
    }
    .logout-btn{
        display: none;
        @media (max-width:991px) {
            display: none;
        }
    }
    .profile-drop{
        &:last-child{
            display: none;
        }
    }
    .profile-dropdown{
        display: none;
    }
}
input[type="time"]::-webkit-calendar-picker-indicator, input[type="date"]::-webkit-calendar-picker-indicator {
    background: none;
}
.newuser-section{
    border: 1px solid $night-gray;
}
.minw-220{
    min-width: 220px;
}
p.figdecs {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.heading-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}
.hero-section{
    .mobile-hero{
        .heading{
            font-size: 60px;
        }
    }
}
.listgroup{
        line-height: auto;
        position: relative;
    margin-left: 15px;
        span{
            font-size: 40px;
            line-height: 16px;
            position: absolute;
            height: 10px;
            width: 10px;
            left: -15px;
        }
}