body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  background-image: url(../img/main-bg.png) !important;
  background-size: 100% auto;
  background-repeat: repeat-y;
  color: var(--bs-white);
}

html {
  height: 100%;
}

@media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.maxh-114 {
  max-height: 114px;
  overflow: hidden;
}

.navbar-toggler[aria-expanded=false] .cross {
  display: none;
}

.navbar-toggler[aria-expanded=true] .list {
  display: none;
}

.navbar .navbar-toggler {
  padding: 3px;
  background: transparent !important;
  border: 1px solid #BEBEBE;
  border-radius: 1px;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
@media (max-width: 991px) {
  .navbar .navbar-nav {
    align-items: flex-start !important;
    margin-top: 40px !important;
    margin-bottom: 0 !important;
  }
  .navbar .navbar-nav .nav-item {
    display: block;
    width: 100%;
    border-bottom: 1px solid #313131 !important;
    padding-bottom: 16px;
  }
  .navbar .navbar-nav .nav-item a {
    margin: 0 !important;
  }
  .navbar .navbar-nav .nav-item.last-child {
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }
}
.navbar .navbar-nav .nav-item .nav-link {
  color: var(--bs-white);
  position: relative;
  padding: 0;
  margin: 0 20px;
}
@media (min-width: 993px) {
  .navbar .navbar-nav .nav-item .nav-link:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: var(--bs-white);
    margin: auto;
    inset: auto 0 -7px 0;
    transition: all 0.3s;
  }
  .navbar .navbar-nav .nav-item .nav-link.active:after, .navbar .navbar-nav .nav-item .nav-link:hover:after {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .navbar .navbar-nav .nav-item button.minw-107 {
    min-width: 200px;
  }
}
.navbar.dark-header {
  background-image: url(../img/login-strip.png);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .navbar {
    background-image: url(../img/login-strip.png);
  }
  .navbar .button_navigation li {
    padding: 0 !important;
  }
}

.h-88vh {
  min-height: 88dvh;
  padding: 30px 0;
}
@media (max-width: 1366px) {
  .h-88vh {
    min-height: auto;
  }
}

/***********Font Sizes************/
.ff-type1 {
  font-family: "Montserrat", sans-serif;
}

.ff-type2 {
  font-family: "Abhaya Libre", serif;
}

.fs-120 {
  font-size: 7.5rem;
}

.fs-60 {
  font-size: 3.75rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-16 {
  font-size: var(--bs-body-font-size);
}

.fs-18 {
  font-size: 1.15rem;
}

.fs-12 {
  font-size: 12px;
}

.fs-26 {
  font-size: 1.62rem;
}

/***********Font Sizes************/
/***********Font Color************/
.text-gray-75 {
  color: #4A4A4A;
}

.text-gray-50 {
  color: #797979;
}

.text-primary {
  color: #F76746 !important;
}

/***********Font Color************/
hr {
  border-color: #313131;
  opacity: 1;
}

svg {
  font-family: "Abhaya Libre", serif;
  width: 522px;
  height: 100%;
}
@media (max-width: 1024px) {
  svg {
    width: 350px;
  }
}

svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #E4E4E4;
  font-size: 120px;
}
@media (max-width: 1024px) {
  svg text {
    font-size: 80px;
  }
}
@media (max-width: 767px) {
  svg text {
    font-size: 50px;
  }
}

.name-svg {
  width: 620px;
  height: 100px;
}
@media (max-width: 1024px) {
  .name-svg {
    width: 420px;
  }
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgb(255, 255, 255);
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgb(255, 255, 255);
    stroke-width: 3;
  }
  100% {
    fill: rgb(255, 255, 255);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
@media (max-width: 993px) {
  .section-heading.fs-120 {
    font-size: 3rem;
  }
}

@media (max-width: 993px) {
  .fs-60 {
    font-size: 1.5rem;
  }
}
.news-box {
  position: relative;
  isolation: isolate;
}
.news-box figure {
  inset: 0;
  z-index: -1;
  overflow: hidden;
  height: 491px;
}
.news-box figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-box figcaption {
  padding: 1rem;
  font-size: 20px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-box figcaption img {
  height: 40px;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  height: 490px;
}
.flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card .flip-card-front,
.flip-card .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* Safari */
  backface-visibility: hidden;
}
.flip-card .flip-card-back {
  background-color: #fff;
  transform: rotateY(180deg);
}

.flip-card-back .content-wrap p {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.fs-70 {
  font-size: 3.75rem;
}

.minw-248 {
  min-width: 248px;
}

.minw-188 {
  min-width: 188px;
}

.minw-107 {
  min-width: 107px;
}

.text-secondary {
  color: #BEBEBE !important;
}

.text-platinumGray {
  color: #797979 !important;
}

.auth-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.border-bottom-gray {
  border-bottom: 1px solid #313131;
}

.form-floating .form-control {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #313131;
  font-size: 16px;
  font-weight: 400;
  color: #E4E4E4;
  padding: 10px 20px;
}
.form-floating .form-control + label {
  color: #797979 !important;
  background: transparent;
  left: 7px;
}
.form-floating .form-control + label:after {
  display: none;
}
.form-floating .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 1;
}
.form-floating .form-control:not(:placeholder-shown) ~ label {
  opacity: 1;
}
.form-floating .form-control:focus {
  box-shadow: inherit;
  border-color: #797979;
}
.form-floating .form-control[type=time] {
  background-image: url(../img/clock.svg);
  background-position: calc(100% - 20px);
  background-repeat: no-repeat;
  background-size: auto;
}
.form-floating .form-control[type=date] {
  background-image: url(../img/calendar.svg);
  background-position: calc(100% - 20px);
  background-repeat: no-repeat;
  background-size: auto;
}
.form-floating .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

.profile-form .form-floating .form-control[type=time] {
  background-image: url(./../img/clock.svg);
}
.profile-form .form-floating .form-control[type=date] {
  background-image: url(./../img/calendar.svg);
}

.otp-control {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #313131;
  font-size: 16px;
  font-weight: 400;
  color: #E4E4E4;
  width: 55px;
  height: 55px;
  text-align: center;
}

.btn {
  border-radius: 110px;
  border: 1px solid transparent;
  padding: 16px;
  transition: all ease-in-out 0.3s;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.btn:hover {
  filter: brightness(85%);
}
.btn.btn-primary {
  background-color: #F76746;
  border-color: #F76746;
  color: var(--bs-white);
}
.btn.btn-primary:active, .btn.btn-primary:hover {
  background-color: #F76746;
  border-color: #F76746;
}
.btn.btn-secondary {
  background-color: transparent;
  border-color: #BEBEBE;
  color: #F76746;
}
.btn.btn-secondary:active, .btn.btn-secondary:hover {
  background-color: transparent;
  border-color: #F76746;
}
.btn.btn-sm {
  padding: 11px 22px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 40px;
}

.feedback-box {
  border: 1px solid #313131;
}

.carousel-indicators button {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  background-color: #F76746 !important;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.service-card {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem 3rem;
}
@media (max-width: 1200px) {
  .service-card {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 991px) {
  .service-card {
    height: auto;
  }
}
.service-card ul li {
  list-style-image: url("../img/check-icon.png");
  margin-bottom: 1rem;
}

.content-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content-body .main-content {
  flex: 1 0 auto;
  height: auto;
}
.content-body .footer {
  flex-shrink: 0;
}

.blog-card .blog-decs {
  background-color: rgba(0, 0, 0, 0.5);
}

.chatbot img {
  position: fixed;
  top: auto;
  bottom: 40px;
  left: auto;
  right: 40px;
  z-index: 9;
}
@media (max-width: 767px) {
  .chatbot img {
    width: 50px !important;
  }
}

.maxh-114 {
  max-height: 114px;
  overflow: hidden;
}

.accordion .accordion-item {
  border-radius: 0 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: none !important;
}
.accordion .accordion-item .accordion-header .accordion-button {
  padding-bottom: 16px;
  border-radius: 0 !important;
  background: transparent !important;
  color: #E4E4E4 !important;
}
.accordion .accordion-item .accordion-header .accordion-button span {
  word-break: break-all;
  margin-right: 30px;
  line-height: 24px;
}
.accordion .accordion-item .accordion-header .accordion-button:after {
  background-image: url(../img/angledown.svg);
  position: absolute;
  top: calc(50% - 5px);
  right: 20px;
}
.accordion .accordion-item .accordion-header .accordion-button:focus {
  outline: none;
  box-shadow: none;
}
.accordion .accordion-item .accordion-collapse .accordion-body {
  color: #797979 !important;
  border-top: 1px solid #313131;
  font-size: 16px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/angledown.svg);
  top: calc(50% - 15px) !important;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.scale-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.scale-card .news-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  transition: all 0.5s ease;
}
.scale-card:hover .news-image {
  transform: scale(1.2);
}
.scale-card .prediction-text {
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
}

.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 991px) {
  .clamp-3 .navbar .nav-item button.minw-107 {
    min-width: 200px;
  }
}

.profile-section, .history-section {
  background-color: rgba(0, 0, 0, 0.5);
}

.history-section img.setting-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.copyright {
  position: relative;
  overflow: hidden;
  background: url(../img/login-strip.png);
}

.media-wrap {
  width: 100%;
}
.media-wrap .media-box .image-shadow {
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
  width: 100%;
}
.media-wrap .media-box .news-channel {
  position: absolute;
  left: 20px;
  top: auto;
  bottom: 20px;
}

.yt-wrapper .content-wrapepr {
  position: absolute;
  top: 0;
  padding: 25px;
  max-width: 300px;
}
.yt-wrapper .yt-icon {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 34px);
}
.yt-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/yt-thumb-bg.png);
}
.yt-wrapper::after {
  content: "";
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  width: 258px;
  height: 258px;
  background-image: url(../img/kapur.png);
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .yt-wrapper::after {
    width: 190px;
    height: 190px;
  }
}

.dropdown .dropdown-toggle {
  cursor: pointer;
}
.dropdown .dropdown-toggle::after {
  display: none;
}
.dropdown .dropdown-menu {
  margin-top: 20px;
  background-color: #000;
  left: auto;
  right: 0;
}
.dropdown .dropdown-menu .dropdown-item {
  background-color: transparent;
  color: #fff;
}
.dropdown .dropdown-menu .dropdown-item svg {
  width: 16px;
}
.dropdown .dropdown-menu .dropdown-item svg path {
  fill: #fff;
}
.dropdown .dropdown-menu .dropdown-item:hover {
  color: #FF3F3F;
}
.dropdown .dropdown-menu .dropdown-item:hover svg path {
  fill: #FF3F3F;
}
.dropdown .dropdown-menu::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 13px;
  background-image: url("/assets/img/trangle.png");
  top: -8px;
  left: 80%;
}

.breadcrumb li {
  color: #797979;
}
.breadcrumb li::before {
  color: #F76746 !important;
  padding: 0 15px 0 6px !important;
}

.bg-dark-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.sponsor-card {
  min-height: 200px;
  line-height: 94px;
}
.sponsor-card img {
  max-width: 100%;
}

.nav-tabs {
  border-color: #313131;
}
.nav-tabs .nav-link {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--bs-white);
  padding: 10px 30px;
  font-size: 20px;
  margin-right: 5px;
  border: 0;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  background-color: #F76746;
  color: var(--bs-white);
}
@media (max-width: 767px) {
  .nav-tabs .nav-link {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 5px;
  }
}

.form-check {
  padding-left: 2.5rem;
}
.form-check label {
  position: relative;
}
.form-check label::before {
  content: "";
  position: absolute;
  background-image: url("../img/uncheck.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  left: -40px;
  background-size: contain;
  top: -4px;
}
.form-check input {
  display: none;
}
.form-check input:checked + label::before {
  background-image: url("../img/checked.png");
}
@media (max-width: 767px) {
  .form-check {
    margin-bottom: 1rem;
  }
}

.pay-img-fix img {
  height: 30px;
}

.w-250 {
  width: 250px;
}
@media (max-width: 767px) {
  .w-250 {
    width: 100%;
  }
}

.progress {
  height: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}
.progress .progress-bar {
  background-color: #F76746;
  border-radius: 8px;
}

.pay-powred span {
  display: inline-block;
  height: 40px;
  width: 1px;
  background-color: #797979;
}
@media (max-width: 767px) {
  .pay-powred {
    flex-direction: column;
  }
  .pay-powred span {
    display: none;
  }
}

.pagination-section .pagination .page-item a.page-link {
  background-color: transparent;
  border: 0;
  display: flex;
  gap: 5px;
  align-items: center;
}
.pagination-section .pagination .page-item a.page-link:hover, .pagination-section .pagination .page-item a.page-link:focus, .pagination-section .pagination .page-item a.page-link:focus-visible {
  background: transparent;
  box-shadow: none;
  outline: none;
  color: #F76746 !important;
}
.pagination-section .pagination .page-item a.page-link:hover svg path, .pagination-section .pagination .page-item a.page-link:focus svg path, .pagination-section .pagination .page-item a.page-link:focus-visible svg path {
  stroke: #F76746;
}
.pagination-section .pagination .page-item a svg {
  width: 32px;
}
@media (max-width: 767px) {
  .pagination-section .pagination .page-item a {
    font-size: 16px;
  }
  .pagination-section .pagination .page-item a svg {
    width: 20px;
  }
}
.pagination-section .pagination .page-item.disabled {
  opacity: 0.2;
}
.pagination-section .pagination .page-item.active a {
  color: #F76746 !important;
}

.button_navigation {
  list-style: none;
}
@media (max-width: 991px) {
  .button_navigation .profile-drop {
    display: none;
  }
}

.navbar-logo .profile-dropdown {
  display: none;
}
@media (max-width: 991px) {
  .navbar-logo .profile-dropdown {
    display: block;
  }
}

.logged-in .login-btn {
  display: none;
}
.logged-in .logout-btn {
  display: none;
}
@media (max-width: 991px) {
  .logged-in .logout-btn {
    display: block;
  }
}

.logged-out .login-btn {
  display: block;
}
.logged-out .logout-btn {
  display: none;
}
@media (max-width: 991px) {
  .logged-out .logout-btn {
    display: none;
  }
}
.logged-out .profile-drop:last-child {
  display: none;
}
.logged-out .profile-dropdown {
  display: none;
}

input[type=time]::-webkit-calendar-picker-indicator, input[type=date]::-webkit-calendar-picker-indicator {
  background: none;
}

.newuser-section {
  border: 1px solid #313131;
}

.minw-220 {
  min-width: 220px;
}

p.figdecs {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.heading-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.hero-section .mobile-hero .heading {
  font-size: 60px;
}
@media (max-width: 512px) {
  .hero-section .mobile-hero .heading {
    font-size: 48px;
  }
}

.listgroup {
  line-height: auto;
  position: relative;
  margin-left: 15px;
}
.listgroup span {
  font-size: 40px;
  line-height: 16px;
  position: absolute;
  height: 10px;
  width: 10px;
  left: -15px;
}

@media (max-width: 1200px) {
  .profile-data {
    font-size: 16px;
  }
}

.modal-dialog {
  max-width: 800px;
}
.modal-dialog .modal-content {
  background-color: rgb(14, 21, 30);
}
.modal-dialog .modal-content .form-floating .form-control.is-invalid {
  border-color: #dc3545 !important;
}

.modal-whatsapp .modal-dialog {
  max-width: 585px;
}

.modal-chatbot .modal-dialog {
  max-width: 368px;
  margin-right: 50px;
}
@media (max-width: 575px) {
  .modal-chatbot .modal-dialog {
    margin: 20px;
    max-width: 100%;
  }
}
.modal-chatbot .modal-dialog .modal-content {
  background: url(../img/bg-chat.png);
  height: 90vh;
}
.modal-chatbot .modal-dialog .modal-content .modal-header {
  background-image: url(../img/strip.png);
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
}
.modal-chatbot .modal-dialog .modal-content .modal-header .logowrap img {
  width: 40px;
}
.modal-chatbot .modal-dialog .modal-content .modal-body {
  overflow-y: scroll;
}
@media (max-width: 767px) {
  .modal-chatbot .modal-dialog .modal-content .modal-body .user-message .col-md-2 {
    width: 15%;
  }
  .modal-chatbot .modal-dialog .modal-content .modal-body .user-message .col-md-10 {
    width: 85%;
  }
}
.modal-chatbot .modal-dialog .modal-content .modal-body .logowrap img {
  width: 30px;
}
.modal-chatbot .modal-dialog .modal-content .modal-body .message {
  background-image: url(../img/message.png);
  background-size: cover;
  padding: 15px;
  background-position: left;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.modal-chatbot .modal-dialog .modal-content .modal-footer .messagePanel {
  background-color: rgb(6, 10, 15);
  border-radius: 99px;
  border: 1px solid rgb(49, 49, 49);
  height: 49px;
  padding: 16px 24px;
  color: #fff;
}
.modal-chatbot .modal-dialog .modal-content .modal-footer .sendMessage {
  width: 49px;
  height: 49px;
  padding: 13px 15px 12px 13px;
  background-image: url(../img/circle.png);
  cursor: pointer;
}

.modal-body::-webkit-scrollbar {
  width: 1px;
}/*# sourceMappingURL=style.css.map */