@import './mixin.scss';

// Colors variables
$primary: #F76746;
$secondary: #BEBEBE;
$platinum-gray: #797979;
$eclipse-gray: #383737;
$dark-blue:#020205;
$dark-gray:#4A4A4A;
$night-gray:#313131;
$default-text:#E4E4E4;





