@import './mixin.scss';

// Colors variables
$primary: #F76746;
$secondary: #BEBEBE;
$platinumGray: #797979;
$eclipseGray: #383737;

// Color classes
$colours: (
  'primary' $primary,
  'secondary' $secondary,
  'platinumGray' $platinumGray,
  'eclipseGray' $eclipseGray
);


